
.detailed-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    margin-top: 5%;
}

.cart-container{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    background: #191919;

}

.cartdetails{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
    widows: 300px;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    color: white
}
.checkout {
    border: none;
    background: gray;
    height: 50px;
    width: 200px;
    color: white;
}