.container{
    display: flex;
    justify-content: space-between;
}

.lebron-container{
    display: flex;
}

.lebron-ad {
   height: 175px;
   padding-top: 20px;
   padding-left: 100px;
}

.lebron-shoe {
    height: 175px;
    padding-top: 20px;
}
.kd-shoe{
      height: 175px;
      padding-right: 100px;
}

.jordan-trunner {
    height: 175px;
    padding-top: 20px;
}